.header-parent{
    width: 100%;
    background-color:  #f1c40f;
    height: 55px;
    position: fixed;
    z-index: 2;
}
.header-cotainer{
    display:flex;
    padding:10px;
    width: 100%;
}
.header-flex{
    display: flex;
    width: 100%;
}
.header-title{
    font-size: 18px;
    color:#fff;
    font-weight: bold;
}
.header-search{
    width: 500px;
}
.header-icon-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.header-icon-style{
    font-size: 20px;
    margin-right:10px;
    color:#fff;
    cursor: pointer;
}
.icon-search{
    display: none;
}
.icon-reorder{
    display: none;
}
@media screen and (max-width: 700px) {
    .modal-content-lg {
      width: 90%;
    }
    .modal-content-md {
      width: 90%;
    }
    .header-search{
        display: none;
    }
    .icon-search{
        display: block;
    }
    .icon-reorder{
        display: block;
    }
  }